:root {
    --bh-palette-yellow: #ffaa00;
    --bh-palette-yellow-dark: #d99100;
    --bh-palette-yellow-soft: #ffd580;
    --bh-palette-yellow-softer: #ffe6b3;
    --bh-palette-yellow-softest: #ffeabf;
    --bh-palette-yellow-light: #fffbf2;
    --bh-palette-yellow-lighter: #fff7e6;
    --bh-palette-yellow-lightest: #fff2d9;
    --bh-palette-gray: #333333;
    --bh-palette-gray-dark: #1a1a1a;
    --bh-palette-gray-light: #4d4d4d;
    --bh-palette-white: #ffffff;
    --bh-transition-time: 300ms;

    --bh-background-body: var(--bh-palette-white);
    --bh-background-header: var(--bh-palette-gray-dark);
    --bh-background-section-1: var(--bh-palette-white);
    --bh-background-section-2: var(--bh-palette-yellow-light);
    --bh-background-section-3: var(--bh-palette-white);
    --bh-background-section-4: var(--bh-palette-yellow-light);
    --bh-background-section-5: var(--bh-palette-yellow-lighter);
    --bh-background-diagram-1: var(--bh-palette-yellow-lighter);
    --bh-background-diagram-2: var(--bh-palette-yellow-light);
    --bh-background-contact: var(--bh-palette-yellow-lighter);
    --bh-background-social: var(--bh-palette-yellow-lightest);
    --bh-background-social-hover: var(--bh-palette-yellow-softer);
    --bh-foreground-main: var(--bh-palette-gray);
    --bh-foreground-title: var(--bh-palette-gray);
    --bh-foreground-subtitle: var(--bh-palette-yellow);
    --bh-foreground-text: var(--bh-palette-gray);
    --bh-foreground-bullet: var(--bh-palette-yellow);
    --bh-foreground-highlight: var(--bh-palette-gray);
    --bh-foreground-navbar: var(--bh-palette-white);
    --bh-foreground-navbar-hover: var(--bh-palette-yellow);
    --bh-foreground-link: var(--bh-palette-gray);
    --bh-foreground-link-hover: var(--bh-palette-yellow);
    --bh-foreground-reference: var(--bh-palette-yellow);
    --bh-button-body: var(--bh-palette-yellow);
    --bh-button-hover: var(--bh-palette-yellow-dark);
    --bh-button-text: var(--bh-palette-white);
    --bh-scrollbar-body: var(--bh-palette-gray-dark);
    --bh-scrollbar-border: var(--bh-palette-gray);
    --bh-scrollbar-hover: var(--bh-palette-gray-light);
    --bh-other-border: var(--bh-palette-yellow-soft);
    --bh-other-divider: var(--bh-palette-yellow-softest);
}

body, html {
    background-color: var(--bh-background-body);
}

html {
    font-family: inter, sans-serif;
    overflow-x: hidden;
    overflow-y: visible;
    scroll-behavior: smooth;
}

.background-header {
    background-color: var(--bh-background-header);
}

.background-section-1 {
    background-color: var(--bh-background-section-1);
}

.background-section-2 {
    background-color: var(--bh-background-section-2);
}

.background-section-3 {
    background-color: var(--bh-background-section-3);
}

.background-section-4 {
    background-color: var(--bh-background-section-4);
}

.background-section-5 {
    background-color: var(--bh-background-section-5);
}

.background-diagram-1 {
    background-color: var(--bh-background-diagram-1);
}

.background-diagram-2 {
    background-color: var(--bh-background-diagram-2);
}

.background-contact {
    background-color: var(--bh-background-contact);
}

.background-social {
    background-color: var(--bh-background-social);
}

.background-social:hover {
    background-color: var(--bh-background-social-hover);
}

.content-main {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    letter-spacing: 0;
    color: var(--bh-foreground-main);
}

@media (min-width: 1280px) {
    .content-main {
        font-size: 3.5rem;
        line-height: 1
    }
}

.content-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    letter-spacing: 0;
    color: var(--bh-foreground-title);
}

.content-subtitle {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: var(--bh-foreground-subtitle);
}

.content-text {
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: var(--bh-foreground-text)
}

.content-bullet {
    fill: var(--bh-foreground-bullet)
}

.content-item {
    color: var(--bh-foreground-highlight);
    font-weight: 700
}

.content-highlight {
    color: var(--bh-foreground-highlight);
    font-weight: 700;
}

.other-border {
    border-width: 1px;
    border-style: solid;
    border-color: var(--bh-other-border)
}

.other-divider {
    border-color: var(--bh-other-divider)
}

.button-colored {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    background-color: var(--bh-button-body);
    font-weight: 700;
    color: var(--bh-button-text);
    transition-duration: var(--bh-transition-time)
}

.button-colored:hover {
    background-color: var(--bh-button-hover);
}

.content-link {
    color: var(--bh-foreground-link);
    transition-duration: var(--bh-transition-time)
}

.content-link:hover {
    color: var(--bh-foreground-link-hover);
    text-decoration: underline;
}

.content-reference {
    color: var(--bh-foreground-reference);
    transition-duration: var(--bh-transition-time)
}

.content-reference:hover {
    text-decoration: underline;
}

.content-navbar {
    margin-right: 1rem;
    margin-left: 1rem;
    height: 100%;
    cursor: pointer;
    padding-top: .5rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: var(--bh-foreground-navbar);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: var(--bh-transition-time)
}

.content-navbar:hover {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    color: var(--bh-foreground-navbar-hover);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@media (min-width: 1024px) {
    .content-navbar {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500
    }
}

@media (min-width: 1536px) {
    .content-navbar {
        margin-right: 1.5rem;
        margin-left: 1.5rem
    }
}

.flex-end {
    justify-content: flex-end
}

::-webkit-scrollbar {
    width: 1em
}

::-webkit-scrollbar-thumb {
    background: var(--bh-scrollbar-body);
    border: .25em solid var(--bh-scrollbar-border);
    border-radius: 100vw
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bh-scrollbar-hover)
}

::-webkit-scrollbar-track {
    background: var(--bh-scrollbar-border);
    border-radius: 100vw
}