:root {
    --bh-pallete-yellow-primary: rgb(255 170 0);
    --bh-pallete-yellow-secondary: rgb(255 213 128);
    --bh-pallete-gray-1: rgb(14 14 14);
    --bh-pallete-gray-2: rgb(22 22 22);
    --bh-pallete-gray-3: rgb(30 30 30);
    --bh-pallete-gray-4: rgb(38 38 38);
    --bh-pallete-gray-5: rgb(46 46 46);
    --bh-pallete-gray-6: rgb(54 54 54);
    --bh-pallete-white: rgb(255 255 255);
    --bh-pallete-gray: rgb(158 158 158);

    --bh-foreground-primary: var(--bh-pallete-yellow-primary);
    --bh-foreground-secondary: var(--bh-pallete-yellow-secondary);
    --bh-foreground-title: var(--bh-pallete-white);
    --bh-foreground-text: var(--bh-pallete-gray);
    --bh-foreground-check: var(--bh-pallete-white);
    --bh-foreground-topic: var(--bh-pallete-yellow-primary);
    --bh-foreground-highlight: var(--bh-pallete-white);
    --bh-foreground-link: var(--bh-pallete-gray);
    --bh-foreground-link-hover: var(--bh-pallete-yellow-primary);
    --bh-foreground-footer: var(--bh-pallete-yellow-primary);
    --bh-foreground-check-fill: var(--bh-pallete-yellow-primary);
    --bh-foreground-chevron-fill: var(--bh-pallete-yellow-primary);
    --bh-foreground-navbar: var(--bh-pallete-white);
    --bh-foreground-navbar-hover: var(--bh-pallete-white);
    --bh-background-body: var(--bh-pallete-gray-2);
    --bh-background-button: var(--bh-pallete-yellow-primary);
    --bh-background-button-text: var(--bh-pallete-white);
    --bh-background-button-hover: var(--bh-pallete-yellow-secondary);
    --bh-background-scrollbar: var(--bh-pallete-gray-2);
    --bh-background-scrollbar-border: var(--bh-pallete-gray-6);
    --bh-background-scrollbar-hover: var(--bh-pallete-gray-3);
    --bh-transition-time: 300ms;

    --bh-r: rgb(255 128 128);
    --bh-g: rgb(128 255 128);
    --bh-b: rgb(128 128 255);
}

body, html {
    background-color: var(--bh-background-body);
}

html {
    font-family: inter, sans-serif;
    overflow-x: hidden;
    overflow-y: visible;
    scroll-behavior: smooth;
}

.custom-block-subtitle {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: var(--bh-foreground-primary);
}

.custom-button-colored {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    background-color: var(--bh-background-button);
    font-weight: 700;
    color: var(--bh-background-button-text);
    transition-duration: var(--bh-transition-time)
}

.custom-button-colored:hover {
    background-color: var(--bh-background-button-hover);
}

.custom-block-big-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    letter-spacing: 0;
    color: var(--bh-foreground-title);
}

@media (min-width: 1280px) {
    .custom-block-big-title {
        font-size: 3rem;
        line-height: 1
    }
}

.custom-content-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    letter-spacing: 0;
    --tw-text-opacity: 1;
    color: var(--bh-foreground-title);
}

.custom-content-text {
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: var(--bh-foreground-text)
}

.custom-content-check {
    color: var(--bh-foreground-check)
}

.custom-content-topic {
    color: var(--bh-foreground-topic)
}

.custom-content-highlight {
    color: var(--bh-foreground-highlight)
}

.custom-content-link-1 {
    color: var(--bh-foreground-link);
    transition-duration: var(--bh-transition-time)
}

.custom-content-link-1:hover {
    color: var(--bh-foreground-link-hover);
    text-decoration: underline;
}

.custom-content-link-2 {
    color: var(--bh-foreground-link-hover);
    transition-duration: var(--bh-transition-time)
}

.custom-content-link-2:hover {
    color: var(--bh-foreground-link-hover);
    text-decoration: underline;
}

.custom-background-header {
    background-color: var(--bh-pallete-gray-1);
}

.custom-background-section-1 {
    background-color: var(--bh-pallete-gray-2);
}

.custom-background-section-2 {
    background-color: var(--bh-pallete-gray-3);
}

.custom-background-section-3 {
    background-color: var(--bh-pallete-gray-4);
}

.custom-background-section-4 {
    background-color: var(--bh-pallete-gray-3);
}

.custom-background-section-4:hover {
    background-color: var(--bh-pallete-gray-4);
    transition-duration: var(--bh-transition-time)
}

.custom-divider-gray {
    border-color: var(--bh-pallete-gray-5)
}

.custom-border-gray {
    border-width: 1px;
    border-style: solid;
    border-color: var(--bh-pallete-gray-6)
}

.custom-footer-text {
    color: var(--bh-foreground-footer);
    font-weight: 700;
}

.custom-footer-text:hover {
    text-decoration: underline;
    transition-duration: var(--bh-transition-time)
}

.custom-check-fill {
    fill: var(--bh-foreground-check-fill);
}

.custom-chevron-fill {
    fill: var(--bh-foreground-chevron-fill);
}

.navbar-link {
    margin-right: 1rem;
    margin-left: 1rem;
    height: 100%;
    cursor: pointer;
    padding-top: .5rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: var(--bh-foreground-navbar);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: var(--bh-transition-time)
}

.navbar-link:hover {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    color: var(--bh-foreground-navbar-hover);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@media (min-width: 1024px) {
    .navbar-link {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500
    }
}

@media (min-width: 1536px) {
    .navbar-link {
        margin-right: 1.5rem;
        margin-left: 1.5rem
    }
}

.flex-end {
    justify-content: flex-end
}

canvas {
    width: 100%;
    height: auto
}

::-webkit-scrollbar {
    width: 1em
}

::-webkit-scrollbar-track {
    background: var(--bh-background-scrollbar-border);
    border-radius: 100vw
}

::-webkit-scrollbar-thumb {
    background: var(--bh-background-scrollbar);
    border: .25em solid var(--bh-background-scrollbar-border);
    border-radius: 100vw
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bh-background-scrollbar-hover)
}